.infscroll-title {
  font-size: 22px;
  letter-spacing: -0.6px;
}

@media only screen and (max-width: 768px) {
  .infscroll-title {
    font-size: 0.9375rem;
    letter-spacing: -0;
  }

  .infscroll-author,
  .infscroll-date {
    font-size: 0.8125rem;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-margin {
  margin-bottom: 150px;
}

@media only screen and (max-width: 580px) {
  .footer-margin {
    margin-bottom: 200px;
  }
}

@media only screen and (max-width: 350px) {
  .footer-margin {
    margin-bottom: 200px;
  }
}
