{% load webpack_loader static %}
{% load blog_tags %}
{% load categories_tag %}

<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/htmx.org@1.8.6" integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>

    {% block head_styles %}
    {% stylesheet_pack 'app' %}
    {% endblock head_styles %}

    {% include "base/navbar.html" %}

</head>
<body>
<div class="container">
    {% block content %}
    {% endblock %}
    {% javascript_pack 'app' %}
</div>
</body>
{% include "base/footer.html" %}
</html>