{% load webpack_loader static %}
<!--Footer-->

<footer class="footer">


    <div class="container bg-light text-lg-start mt-lg-5">

        <hr class="m-0"/>

        <div class="text-center pt-2 align-items-center">
            <a href="www.linkedin.com/in/flavien-perez-38732b16b" class="text-dark">
                <img src="{% static 'vendors/images/icons/linkedin.png' %}" alt="linkedin icon"></a>
            <a href="https://gitlab.com/flavien.perez">
                <img src="{% static 'vendors/images/icons/gitlab.png' %}" alt="gitlab icon">
            </a>
        </div>
        <div class="row">
            <div class="col">
                <div class="card-body p-0 border-bottom pb-4">
                    <div class="pb-2 ps-2 text-body mt-3 infscroll-author">
                        Credits
                    </div>
                    <ul class="nav">


                        <li class="nav-item">
                            <a class="nav-link  text-muted text-decoration-none fs-15"
                               href="https://www.flaticon.com/free-icons/mail"
                               title="mail icons">Mail icons created by Freepik - Flaticon</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-muted text-decoration-none fs-15"
                               href="https://www.flaticon.com/free-icons/linkedin"
                               title="linkedin icons">Linkedin icons created by Freepik - Flaticon</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-muted text-decoration-none fs-15"
                               href="https://www.flaticon.com/free-icons/gitlab"
                               title="gitlab icons">Gitlab icons created by Freepik - Flaticon</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-dark">Flavien Perez</a>
        </div>
        <!-- Copyright -->
    </div>
</footer>