{% load categories_tag %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'blog:post_list' %}">Django Talk</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Catégories
                    </a>
                    <ul class="dropdown-menu">
                        {% get_all_categories %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pages:about' %}">A propos de moi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'emails:contact' %}">Contact</a>
                </li>
            </ul>
            <form class="d-flex" role="search" action="{% url 'blog:post_search' %}" method="POST">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search"
                       name="searched">
                <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>
        </div>
    </div>
</nav>
<!-- Navbar -->