{% extends "../base/base.html" %}
{% load webpack_loader static %}
{% load blog_tags %}
{% load tags_cloud %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<!-- Jumbotron -->
<div id="intro" class="p-5 text-center bg-light">
    <h1 class="mt-2 mb-0 h8">{{ post.title }}</h1>
</div>
<!-- Jumbotron -->
<main class="mt-4 mb-5">
    <div class="container">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-8 mb-4">
                <!--Section: Post data-mdb-->
                <section class="border-bottom mb-4">
                    <img src="https://www.filepicker.io/api/file/56HSrFc0SF6eyjrGXgVZ"
                         class="img-fluid shadow-2-strong rounded-5 mb-4" alt=""/>

                    <div class="row align-items-center mb-4">
                        <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                            <img src="{% static 'vendors/images/profile-picture.jpg' %}"
                                 class="rounded-5 shadow-1-strong me-2"
                                 height="35" alt="" loading="lazy"/>
                            <span> Publié le {{ post.publish }} par </span>{{ post.author }}
                        </div>

                        <div class="col-lg-6 text-center text-lg-end">
                            <a href="https://gitlab.com/flavien.perez">
                                <img src="{% static 'vendors/images/icons/gitlab.png' %}" alt="gitlab icon">
                            </a>
                            <a href="https://www.linkedin.com/in/flavien-perez-38732b16b" class="text-dark">
                                <img src="{% static 'vendors/images/icons/linkedin.png' %}" alt=""></a>
                        </div>
                    </div>
                </section>
                <!--Section: Post data-mdb-->

                <!--Section: Text-->
                <section>
                    <p>
                        {{ post.body|markdown }}
                    </p>
                </section>
                <!--Section: Text-->

                <!--Section: Share buttons-->
                <section class="text-center border-top border-bottom py-4 mb-4">
                    <p><strong>Partager cet article</strong></p>

                    <button type="button" class="btn btn-primary">
                        <a href="{% url 'emails:post_share' post.id %}">
                            <img src="{% static 'vendors/images/icons/email.png' %}" alt=""></a>
                    </button>

                </section>
                <!--Section: Share buttons-->

                <!--Section: Author-->
                <section class="border-bottom mb-4 pb-4">
                    <div class="row">
                        <div class="col-3">
                            <img src="{% static 'vendors/images/profile-picture.jpg' %}"
                                 class="img-fluid shadow-1-strong rounded-5" alt=""/>
                        </div>

                        <div class="col-9">
                            <p class="mb-2"><strong>{{ post.author }}</strong></p>
                            <a href="www.linkedin.com/in/flavien-perez-38732b16b" class="text-dark">
                                <img src="{% static 'vendors/images/icons/linkedin.png' %}" alt=""></a>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                                inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                                Repellendus alias dolor ad nam, soluta distinctio quis accusantium!
                            </p>
                        </div>
                    </div>
                </section>
                <!--Section: Author-->

                <!--Section: Comments-->
                <section class="border-bottom mb-3">
                    {% with comments.count as total_comments %}
                    <p class="text-center"><strong>Commentaires: {{ total_comments }}</strong></p>
                    {% endwith %}
                    <!-- Comment -->
                    <div class="row mb-4">
                        <div class="col-10">
                            {% for comment in comments %}
                            <p class="mb-2"><strong>{{ comment.name }}</strong>
                                Commentaire {{ forloop.counter }} par
                                {{ comment.created }}
                            </p>
                            <p>
                                {{ comment.body|linebreaks }}
                            </p>
                            {% empty %}
                            <p>Aucun commentaire.</p>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <!--Section: Comments-->

                <!--Section: Reply-->
                <section>
                    {% include "comments/comment_form.html" %}
                </section>
                <!--Section: Reply-->
            </div>
            <!--Grid column-->
            <div class="col-md-4 mb-4">
                {% sidebar_tag_cloud %}
                {% include "blog/sidebar.html" with page=posts %}
            </div>
        </div>
        <!--Grid row-->
    </div>
</main>


{% endblock %}

