<ul class="list-group border-0">
    {% for post in latest_posts %}
        <li class="list-group-item border-0">
            <a class="nav-link" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
</ul>