{% load blog_tags %}
{% for post in posts %}
<a href="{{ post.get_absolute_url }}" class="text-decoration-none">
    {% if forloop.last %}
        <div class="card border-0 pb-3 pb-sm-5 footer-margin"
             hx-trigger="revealed"
             hx-get="?page={{ page.next_page_number }}"
             hx-swap="afterend">
    {% else %}
        <div class="card border-0 pb-3 pb-sm-5">
    {% endif %}
        <div class="row">
            <div class="col-8">
                <div class="card-body p-0 border-bottom pb-4">
                    <div class="pb-2 text-body mt-3 infscroll-author">{{ post.author }}</div>
                    <h1 class="mb-1 text-body fw-bold infscroll-title">{{ post.title }}</h1>
                    <h2 class="text-muted fs-6 d-none d-md-block">{{ post.body|markdown|truncatewords_html:30 }}</h2>
                    <div class="text-muted infscroll-date">{{ post.publish|date:"M d" }}</div>
                    <div class="mt-2">
                        {% for tag in post.tags.all %}
                            <a class="border border-dark rounded-pill text-decoration-none text-muted fs-15 fw-bold p-1 px-3 mb-2 me-1"
                               href="{% url 'blog:post_list_by_tag' tag.slug %}">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img src="https://picsum.photos/200/115" alt="" class="img-fluid float-end">
            </div>
        </div>
    </div>
</a>
{% endfor %}