{% extends "../base/base.html" %}
{% load blog_tags %}
{% load tags_cloud %}
{% load categories_tag %}
{% block title %}My Blog{% endblock %}
{% block content %}
<!-- Jumbotron -->
<div id="intro" class="p-5 text-center bg-light">
    <h1 class="mb-3 h2">Apprendre Django</h1>
    <p class="mb-3 text-muted">De débutant à expert</p>
    <a class="btn btn-primary m-2" href="#" role="button"
       target="_blank">Découvirir le framework</a>
    <a class="btn btn-primary m-2" href="{% url 'pages:about'%}"
       role="button">Pourquoi ce blog ?</a>
</div>
<!-- Jumbotron -->
{% if tag in tags.all %}
<h2> Articles éttiqueté avec "{{ tag.name }}</h2>
{% endif %}
<!--Section: Content-->


<div class="container pt-5">
    <div class="row">
        <div class="col-12 col-lg-8">
            {% include "blog/list-elements.html" %}

        </div>
        <div class="d-none d-lg-block col-4">
            <div class="sticky-top">
                {% sidebar_tag_cloud %}
                {% include "blog/sidebar.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


<!--            {% include "blog/pagination.html" with page=posts %}-->
<!--        </div>-->
<!--    </div>-->


<!--</section>-->




