<nav class="my-4" aria-label="...">
    <ul class="pagination pagination-circle justify-content-center">
        <li class="page-item">
            {% if page.has_previous %}
            <a class="page-link" href="?page={{ page.previous_page_number }}"
               tabindex="-1" aria-disabled="true">Précédent</a>
            {% endif %}
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link">{{ page.number }} <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page.end_index}}">{{ page.paginator.num_pages }}
                <span class="sr-only">(current)</span></a>

        </li>
        {% if page.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page.next_page_number }}">Suivant</a>
        </li>
        {% endif %}
    </ul>
</nav>