{% extends "../base/base.html" %}
{% load blog_tags %}
{% block content %}
    {% if query %}
        <h1> Articles contenant "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}
                Résultats trouvé.
            {% endwith %}
        </h3>
        {% for post in results %}
            <h4>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </h4>
            {{ post.body|markdown|truncatewords_html:12 }}
        {% empty %}
            <p>Aucun résultat trouvé</p>
        {% endfor %}
    {% endif %}
{% endblock %}