{% load blog_tags %}
<!--Section: Sidebar-->
<section class="sticky-top text-center">
    <!--Section: similar post-->
    {% if "/detail/" in request.path%}
    <section class="text-center border-bottom pb-4 mb-4">
        <h5>Articles similaires</h5>
        <ul class="list-group border-0">


            {% for post in similar_posts %}
            <li class="list-group-item border-0">
                <a class="nav-link" href="{{ post.get_absolute_url }}"> {{ post.title }}</a>
            </li>
            {% empty %}
            Il n'y a pas encore d'article similaire.
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    <!--Section: similar post-->

    <!--Section: Ad-->
    <section class="text-center border-bottom pb-4 mb-4">
        <h5> Derniers articles</h5>

        {% show_latest_posts 3 %}
    </section>
    <!--Section: Ad-->

    <!--Section: most comments post-->
    <section class="text-center pb-4 mb-4">
        <h5 class="mb-4">Articles les plus commentés</h5>
        {% get_most_commented_posts as most_commented_posts %}
        <ul class="list-group">
            {% for post in most_commented_posts %}
            <li class="list-group-item border-0">
                <a class="nav-link" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <!--Section: most comments post-->
    <a class="btn btn-dark" href="{% url 'blog:post_feed' %}"> S'abonner au flux RSS</a>
</section>
<!--Section: Sidebar-->