<div class="mb-4">
    <div class="border-bottom">
        <div class="pb-4">
            <h4 class="pb-2 fw-bold fs-14">D'autres sujets</h4>
            {% for tag in tags %}
            <span class="border border-dark p-1 px-3 mb-2 me-1 rounded-pill">
                <a class="text-decoration-none text-dark fs-15 fw-bold" href="{% url 'blog:post_list_by_tag' tag.slug %}">
                    {{tag.name}}
                </a>
            </span>
            {% endfor %}
        </div>
    </div>
</div>