{% extends "../base/base.html" %}
{% load webpack_loader static %}
{% block title %}
    About me
{% endblock %}
{% block content %}

<div class="section-title">
    <h2>A propos de moi</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                                inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                                Repellendus alias dolor ad nam, soluta distinctio quis accusantium! </p>
</div>

<div class="row">
    <div class="col-lg-4">
        <img src="{% static 'vendors/images/profile-picture.jpg' %}" alt="profile picture" class="img-fluid">
    </div>
    <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>Développeur python</h3>
        <p class="mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
        </p>
        <div class="row">
            <div class="col-lg-6">
                <ul class="">
                    <li class="list-group-item"><i class="bi bi-rounded-right"></i> <strong>Anniversaire :</strong> 14 Février 1993</li>
                    <li class="list-group-item"><i class="bi bi-rounded-right"></i> <strong>Site Web :</strong> exemple.com</li>
                    <li class="list-group-item"><i class="bi bi-rounded-right"></i> <strong>Téléphone : </strong>+33 (0)6 62 64 42 75</li>
                    <li class="list-group-item" ><i class="bi bi-rounded-right"></i> <strong>Ville :</strong> Toulouse</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <li class="list-group-item"><i class="bi bi-rounded-right"></i> <strong>Age :</strong> 30 ans</li>
                <li class="list-group-item"><i class="bi bi-rounded-right"></i> <strong>Diplôme :</strong> Master</li>
                <li class="list-group-item"><i class="bi bi-rounded-right"></i> <strong>Email :</strong> flavien.perez@gmail.com</li>
                <li class="list-group-item"><i class="bi bi-rounded-right"></i> <strong>Disponibilité :</strong> En recherche de poste</li>
            </div>
        </div>
    </div>
    <p class="mt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio est ab iure
                                inventore dolorum consectetur? Molestiae aperiam atque quasi consequatur aut?
                                Repellendus alias dolor ad nam, soluta distinctio quis accusantium
    </p>
</div>
{% endblock %}
