{% extends "../base/base.html" %}

{% block content %}
<div class="border-bottom border-1 border-dark">
    <div class="container my-5 py-5 ">
        <div class="row">
            <div class="col-12 col-lg-6 py-1 py-md-5 text-center text-md-start">
                <h1 class="display-1 mb-5 mt-2">Django Talk.</h1>
                <p class="fs-4 text-muted fw-bold pb-5">
                    Articles, tutoriels et astuce sur Django et son écosystème.
                </p>
                <button type="button" class="btn btn-dark rounded-pill fw-bold fs-5 mb-5 px-4 ">
                    <a class="text-decoration-none text-muted" href="{% url 'blog:post_list' %}">Commencer à lire</a>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}