{% extends "../base/base.html" %}
{% block title %}Add a comment{% endblock %}
{% block content %}
  {% if comment %}
    <h2>Votre commentaire a été ajouté.</h2>
    <p><a href="{{ post.get_absolute_url }}">Retourner à l'article</a></p>
  {% else %}
    {% include "comments/comment_form.html" %}
  {% endif %}
{% endblock %}