{% load crispy_forms_tags %}
<p class="text-center"><strong>Ajouter un commentaire</strong></p>
<form action="{% url 'comments:post_comment' post.id %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <p><input type="submit" value="Add comment"></p>
</form>

