{% extends "../base/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Contact me{% endblock %}
{% block content %}
  {% if sent %}
    <h1>E-mail envoyé avec succés</h1>
  {% else %}
    <form method="post" class="mb-5">
      {% csrf_token %}
      {% crispy form %}
      <input type="submit" class="btn btn-success" value="Envoyer">
    </form>
  {% endif %}
{% endblock %}