{% extends "../base/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Share a post{% endblock %}
{% block content %}
  {% if sent %}
    <h1>E-mail successfully sent</h1>
    <p>
      "{{ post.title }}" a été envoyé avec succès à {{ form.cleaned_data.to }}.
    </p>
  {% else %}
    <h1>Partager "{{ post.title }}" par e-mail</h1>
    <form method="post">
      {% crispy form %}
      {% csrf_token %}
      <input class="btn btn-success" type="submit" value="Envoyer">
    </form>
  {% endif %}
{% endblock %}